.git
.expo
**/.expo
**/dist
**/node_modules
**/.env
**/.env.local
**/*.log
**/*.tsbuildinfo
.DS_Store
coverage
apps/api/dev.db
apps/api/dev.db-journal
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
