node_modules
package-lock.json
.DS_Store
.expo
.turbo
dist
.env
.env.local
coverage
*.log
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/dev.db
apps/api/dev.db-journal
apps/mobile/.expo
apps/mobile/dist
